{% extends "AI_Fraud_Detection/base1.html" %}
{% block content %}
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <ol class="breadcrumb mt-4 mb-3">
        <li class="breadcrumb-item">
          <a href="{% url 'AI-home' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Delete Post</li>
    </ol>

    <div class="row mt-4 mb-3">
        <div class="col-lg-8 mb-4">
            <form method="POST">
                {% csrf_token %}
                <legend class="border-bottom mb-4">Delete Post</legend>
                    <h2>Are you sure you want to delete the post "{{ object.title}}"</h2>       
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>  
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>              
            </form>
        </div>


        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card mb-4">
            <h5 class="card-header">Tags</h5>
                <div class="card-body">
                    <img src="/media/DRR.PNG">
                </div>
            </div>
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                <div class="row">
                    <div class="col-lg-10">
                        <ul class="list-unstyled mb-0">
                            <li>
                            <a href="{% url 'classify' %}">Customer Fraud Detection</a>
                            </li>
                            <li>
                            <a href="{% url 'lookup' %}">Customer Single Lookup</a>
                            </li>
                            <li>
                            <a href="#">Payment Fraud Detection</a>
                            </li>
                            <li>
                            <a href="#">Payment Single Lookup</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <!-- References Widget -->
            <div class="card my-4">
                <h5 class="card-header">References</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <ul class="list-unstyled mb-0">
                                <li>
                                <a href="#"></a>
                                </li>
                                <li>
                                <a href="#"></a>
                                </li>
                                <li>
                                <a href="#"></a>
                                </li>
                                <li>
                                <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}
