{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'AI_Fraud_Detection/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'AI_Fraud_Detection/css/modern-business.css' %}" rel="stylesheet">

</head>
<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'AI-home' %}"><img src="/media/CG_Invent.png" height=50></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto"> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fraud Detection
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="{% url 'classify' %}">Customer Fraud Detection</a>
                <a class="dropdown-item" href="{% url 'lookup' %}">Customer Single Lookup</a>
                <a class="dropdown-item" href="#">Payment Fraud Detection</a>
                <a class="dropdown-item" href="#">Payment Single Lookup</a>                
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog-home' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('/media/Slide_11.jpg')">
              <div class="carousel-caption d-none d-md-block">
                <h3></h3>
                <p></p>
              </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/media/Slide_21.jpg')">
              <div class="carousel-caption d-none d-md-block">
                <h3></h3>
                <p></p>
              </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('/media/Slide_3.jpg')">
              <div class="carousel-caption d-none d-md-block">
                <h3></h3>
                <p></p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </header>
    <!-- Page Content -->
    <div class="container">

    <h1 class="my-4">Artificial Intelligence in Fraud Detection</h1>

    
      <!-- Portfolio Section -->
    

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{% url 'classify' %}"><img class="card-img-top" src="/media/customer.png" alt="" width="300" height="300"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{% url 'classify' %}">Customer Fraud Detection</a>
            </h4>
            <p class="card-text">A batch solution to reduce the numbers of false positive alerts.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{% url 'lookup' %}"><img class="card-img-top" src="/media/client.png" alt="" width="300" height="300"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{% url 'lookup' %}">Customer Single Lookup</a>
            </h4>
            <p class="card-text">Profiling a customer based on the available attributes.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/media/payment.png" alt="" width="300" height="300"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Payment Fraud Detection</a>
            </h4>
            <p class="card-text">A batch solution to reduce the numbers of false positive alerts.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
     
    </div>
    <!-- /.container -->


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; CFD 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'AI_Fraud_Detection/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'AI_Fraud_Detection/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>